/* SETTINGS */

body {
    background: white;
    font-family: 'Inglobal';
    color: #3F2B4F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inglobal';
    src: local('inglobal'), url('fonts/inglobal.woff2') format('woff2'), url('fonts/inglobal.woff') format('woff'), url('fonts/inglobal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inglobal';
    src: local('inglobal Italic'), local('inglobal-Italic'), url('fonts/inglobalitalic.woff2') format('woff2'), url('fonts/inglobalitalic.woff') format('woff'), url('fonts/inglobalitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Inglobal';
    src: local('inglobal Bold'), local('inglobal-Bold'), url('fonts/inglobalbold.woff2') format('woff2'), url('fonts/inglobalbold.woff') format('woff'), url('fonts/inglobalbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inglobal';
    src: local('inglobal Bold Italic'), local('inglobal-BoldItalic'), url('fonts/inglobalbolditalic.woff2') format('woff2'), url('fonts/inglobalbolditalic.woff') format('woff'), url('fonts/inglobalbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}


/* SETTINGS END */


/* SEARCH */

.header {
    border-bottom: 1px solid #F1F1F1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__down {
    margin-left: 5px;
    margin-bottom: 2px;
}

.header a {
    color: #3F2B4F;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.header__start_search {
    background: #F8A35B;
    border-radius: 7px;
    width: 180px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.header>ul {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu_list {
    display: flex;
    justify-content: space-between;
    width: 500px;
}


/* SEARCH PROGRESS BAR */

.search__step_number {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: white;
    margin-top: 2px;
}

.search__step_circle {
    width: 61px;
    height: 61px;
    background: #F8A35B;
    border: 3px solid #F8A35B;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.step_inactive>.search__step_circle {
    border: 3px solid #FDE4CD;
    background: transparent;
}

.step_inactive .search__step_number {
    color: #F8A35B;
    opacity: 0.4;
}

.search {
    margin-top: 60px;
}

.search__steps {
    display: flex;
    justify-content: space-around;
    background: url(/img/step__line_1.svg);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position-x: 115px;
    background-position-y: 5px;
}

.search__step {
    text-align: center;
    width: 25%;
    position: relative;
}

.search h1 {
    top: 30px;
    position: relative;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.search__step_name {
    font-weight: 700;
    font-size: 21px;
    color: #3F2B4F;
    opacity: 0.8;
}

.search__step_info {
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.search__step_desc_show {
    display: block !important;
}

.search__step_desc {
    background: url(/img/steps_info.svg);
    display: none;
    width: 305px;
    height: 120px;
    padding-top: 30px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    right: -10px;
    bottom: -110px;
    position: relative;
    position: absolute;
    z-index: 2;
}

.search__step_desc_show {
    display: block !important;
    animation-name: search__info_show;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes search__info_show {
    0% {
        transform: translateY(0px);
        opacity: 0;
    }
    100% {
        transform: translateY(20px);
        opacity: 100%;
    }
}

.search__step_desc_title {
    font-size: 12px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
}

.search__step_desc_text {
    text-align: center;
    color: #3F2B4F;
    font-size: 12px;
    width: 90%;
    margin: 0 auto;
    line-height: 15px;
    text-align: center;
}

.search__figure {
    margin: 0 auto;
    position: absolute;
}

.search__map {
    margin: 0 auto;
    margin-top: 80px;
    width: 1440px;
    position: relative;
}

.search__map_container {
    width: 1110px;
    height: 660px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    align-items: center;
}

.search__map_form {
    width: 547px;
    height: 52px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    left: calc((100% - 550px)/2);
    top: calc((100% - 52px)/2);
    ;
}

.search__map_form>div {
    align-items: center;
    width: 70%;
    display: flex;
}

.search__map_form>div>img {
    margin-right: 5px;
}

.search__map_adress {
    height: 20px;
    width: 100%;
    background: white;
    padding-left: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-left: 1px solid #F8A35B;
    outline: none;
}

.search__map_adress::-webkit-input-placeholder {
    color: #C4C4C4;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.search__map_button {
    display: flex;
    width: 145px;
    height: 100%;
    background: #F8A35B;
    color: white;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.search__button_arrow {
    transition: 0.3s;
}

.search__map_button:hover .search__button_arrow {
    transform: translateX(5px);
}


/* FOOTER */

footer {
    border-top: 1px solid #C4C4C4;
    padding-top: 65px;
    padding-bottom: 20px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.footer__info_links {
    display: inline-grid;
}

.footer__info_adress>div>span {
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.footer__info_adress>div {
    align-items: center;
    margin-bottom: 25px;
}

.footer__info_links a {
    font-size: 16px;
    font-weight: 700;
    color: #F8A35B;
    text-decoration: none;
}

.footer_links {
    margin-top: 30px;
    border-top: 1px solid #F8A35B;
    border-bottom: 1px solid #F8A35B;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer_links a {
    font-size: 16px;
    font-weight: 700;
    color: #F8A35B;
    text-decoration: none;
}

.footer_bottom_text {
    font-size: 16px;
    color: #ABABAB;
    text-align: center;
    margin-top: 20px;
}

#map {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.map__blured {
    filter: blur(5px);
}

.pac-icon {
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    width: 14px;
    background-image: url(/img/icons/map.svg) !important;
    background-size: auto;
    box-sizing: border-box;
    height: 19px;
    padding-top: 0px;
}

.pac-container {
    width: 547px !important;
    transform: translateX(-35px) translateY(10px);
}

.pac-container {
    border-top: 1px solid #d9d9d9;
}

.pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #f8a45b34;
    color: #000000;
    padding-top: 10px;
    box-sizing: border-box;
    height: 50px;
}

.pac-logo:after {
    display: none !important;
}

.pac-item-query {
    font-weight: 600;
    font-family: 'Inglobal';
    color: black;
    font-size: 16px;
}

.pac-item {
    padding-left: 15px;
}

.pac-item>span:last-child {
    font-weight: 600;
    font-family: 'Inglobal';
    color: rgba(63, 43, 79, 0.3);
    font-size: 16px;
}

.form_in_top {
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
    animation-name: form_top_anim;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

@keyframes form_top_anim {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-305px);
    }
}